img {
    max-width: 100%;
    height: auto;
}

.fs14 {
    font-size: 14px;
}

.fs13 {
    font-size: 13px;
}

#top-navigation {
    font-family: arial, sans-serif;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#top-navigation-left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 12%;
}

#top-navigation-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20%;
}

#link-anmelden {
    color: white;
    font-size: 14px;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 8.5px;
    padding: 9px;
    text-align: center;
    width: 100px;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#searchbar-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#searchbar {
    display: flex;
    align-items: center;
    flex-basis: 584px;
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    height: 44px;
    width: auto;
    max-width: 584px;
}

#searchbar:hover {
    box-shadow: 1px 1px 5px 0.5px rgba(211, 211, 211, 0.3), -1px -1px 5px 0.5px rgba(211, 211, 211, 0.3);
}

#searchbar-svg {
    padding: 13px;
    width: 8%;
}

#searchbar-input {
    padding: 10px;
    width: 100%;
}

footer {
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer-container-b {
    border-top: 1px solid #dadce0;
    display: flex;
    justify-content: space-between; 
    align-content: center;
}

.footer-link {
    color: #70757a;
    padding: 15px;
}

#footer-container-a {
    padding-left: 15px;
}

#footer-container-b-1 {
    display: flex wrap;
    justify-content: space-evenly;
    padding-left: 20px;
}

#footer-container-b-2 {
    display: flex;
    justify-content: center;
}

#footer-container-b-3 {
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
}